.wrapper {
  width: 400px;
  margin: 0px auto;
}

.task {
  border-left: 1px solid #999;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.task button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
