.nav-holder {
  height: 62px; 
}

.nav {
  height: 58px;
  background-color: #fdf9f3;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
}

.nav div:nth-child(1) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav div.actived {
  display: none;
}


@keyframes clock-shaking{
  0% { transform: rotate(0deg) }
  2% { transform: rotate(20deg) }
  5% { transform: rotate(0deg) }
  8% { transform: rotate(20deg) }
  10% { transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

.logo {
  height: 40px;
  position: relative;
  left: -30px;
  animation: clock-shaking infinite 3s linear;
  cursor: pointer;
}


.nav div:nth-child(2) {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-bar {
  appearance:none;
  text-align-last: center;
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px dashed #999;
  border-right: 1px solid black;
}

.start-button {
  border: 1px dashed #999;
  border-left: none;
  width: 30px;
  height: 30px;
  background: inherit;
  outline: none;
  cursor: pointer;
}

