.nav-holder {
  height: 62px; 
}

.nav {
  height: 58px;
  background-color: #fdf9f3;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes clock-shaking{
  0% { transform: rotate(0deg) }
  2% { transform: rotate(20deg) }
  5% { transform: rotate(0deg) }
  8% { transform: rotate(20deg) }
  10% { transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

.logo {
  height: 40px;
  position: relative;
  left: -30px;
  animation: clock-shaking infinite 3s linear;
  cursor: pointer;
}

